*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
html, body{
    height:100%
}

body{
    overflow-x:hidden;
    background-image: url('{{ URL::asset('static/images/background_site_glmece.png') }}');
    background-repeat:repeat;
    background-size:600px 600px;
    background-attachment:local;
}